.post-wrapper {
  padding: 45px 120px;
}

.form-input {
  padding: 5px 15px;
  text-align: center;
  border-radius: 20px;
  margin: auto;
  border: none;
  color: rgb(133, 133, 133);
  background-color: gainsboro;
}

.post-body {
  width: 615px;
}

.post-search {
  margin: 30px 0;
}

input[type="text"]:focus {
  box-shadow: 0 0 0 rgb(255, 255, 255);
}

.pointer {
  cursor: pointer;
}

.default {
  cursor: default;
}

.number {
  padding: 0 10px;
}

.pagination {
  color: rgb(133, 133, 133);
  font-size: 16px;
}

.bold {
  font-weight: bold;
}

.active-number {
  border-bottom: 2px solid dodgerblue;
}
