<div class="post-wrapper">
    <app-header></app-header>
    <div *ngIf="!isLogged" class="vh-95 d-flex justify-content-center align-items-center">
        <img width="50%" height="50%" src=".././../../../assets/images/example-scene-2.svg">
    </div>
    <div class="d-flex justify-content-center align-items-center" *ngIf="isLogged">
        <div *ngIf="isLoading.length === 0; else loading">
            <div class="post-body" *ngIf="isLogged">
                <div class="post-search">
                    <div class="form-group">
                        <input
                            type="text"
                            class="form-control form-input"
                            placeholder="Search"
                            [(ngModel)]="value"
                            (keyup)="search()"/>
                    </div>
                </div>
                <div class="post-list">
                    <div>
                        <app-post-card *ngFor="let post of currentPost" [post]="post"></app-post-card>
                    </div>
                </div>
                <div class="post-paginator">
                    <div class="d-flex justify-content-end">
                        <label 
                            class="pagination" 
                            (click)="prevPage()" 
                            [ngClass]="{'pointer' : currentPage !== 1, 'bold' : currentPage !== 1}">prev</label>
                        <label 
                            class="pagination number" 
                            *ngFor="let i of [].constructor(totalPage); let e = index"
                            [ngClass]="{'pointer' : currentPage !== e+1, 'bold' : currentPage !== e+1, 'active-number' : currentPage === e+1}"
                            (click)="selectPage(e+1)">
                            {{ e+1 }}
                        </label>
                        <label 
                            class="pagination"
                            (click)="nextPage()"
                            [ngClass]="{'pointer' : currentPage !== totalPage, 'bold' : currentPage !== totalPage}">next</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    <mat-spinner [diameter]="30" style="margin-top: 250px;"></mat-spinner>
</ng-template>