<div class="login-wrapper vh-100 d-flex justify-content-center align-items-center">
    <div>
        <h2 class="title">Login Page</h2>
        <form novalidate [formGroup]="loginForm" (ngSubmit)="onFinish()">
            <div class="form-group">
                <input
                    type="text"
                    formControlName="username"
                    class="form-control form-input"
                    placeholder="username"
                    [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"
                    (keyup)="resetAuth()"/>

                <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                    <div *ngIf="f['username'].errors['required']">Username is required</div>
                </div>
            </div>
            <div class="form-group">
                <input
                    type="password"
                    formControlName="password"
                    class="form-control form-input"
                    placeholder="password"
                    [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"/>
                    
                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                    <div *ngIf="f['password'].errors['required']">Password is required</div> 
                </div>
            </div>
            <button *ngIf="!isLoading" mat-flat-button color="primary" class="btn-primary" type="submit">Login</button>
            <div *ngIf="isLoading" class="d-flex justify-content-center align-items-center">
                <mat-spinner [diameter]="30"></mat-spinner>
            </div>
            <div class="not-found-message" [ngClass]="submitted && notFound && !loginForm.invalid ? 'visible': 'invisible'">Invalid username/password</div>
        </form>
    </div>
</div>