.login-wrapper {
  overflow: hidden;
}

.form-input {
  padding: 5px 15px;
  text-align: center;
  width: 300px;
  border-radius: 20px;
}

.btn-primary {
  width: 300px;
  color: #fff;
  background-color: dodgerblue;
  border-radius: 20px;
}

.title {
  margin-bottom: 80px;
  text-align: center;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.not-found-message {
  text-align: center;
  margin: 5px;
  color: red;
}
