.post-card-wrapper {
  display: grid;
  grid-template-columns: 1fr 7fr;
  margin-bottom: 30px;
  column-gap: 15px;
}

.comment-body {
  display: grid;
  grid-template-columns: 1fr 7fr;
  column-gap: 15px;
  margin-bottom: 30px;
}

.name {
  font-size: 19px;
  font-weight: bold;
}

.body {
  color: rgb(133, 133, 133);
  font-size: 18px;
  text-align: justify;
}

.total {
  color: dodgerblue;
}

.detail {
  font-size: 16px;
  color: dodgerblue;
  cursor: pointer;
}

.action {
  display: grid;
  grid-template-columns: 1fr 1fr 14fr;
}
