<div class="post-card-wrapper">
    <p class="name">{{ post?.name }}</p>
    <div>
        <p class="body">{{ post?.body }}</p>
        <div class="action" *ngIf="!isDetail">
            <span class="material-icons" style="color: dodgerblue; cursor: default;">mode_comment</span>
            <label class="total">{{ post?.totalComment }}</label>
            <label><span class="detail" (click)="toDetail()">Detail</span></label>
        </div>
        <div *ngIf="isDetail">
            <p style="color: rgb(75, 75, 75); font-size: 18px; margin: 30px 0; font-weight: bold;">All Comment</p>
            <div class="comment-body" *ngFor="let comment of comments">
                <p class="name">{{ comment.name }}</p>
                <p class="body">{{ comment.body }}</p>
            </div>
        </div>
    </div>
</div>