.header-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.header-title {
  font-size: 27px;
  font-weight: bold;
}

.post-title {
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  margin: 0 0 -8px;
  color: rgb(78, 78, 78);
}

.btn-primary {
  color: #fff;
  background-color: dodgerblue;
  border-radius: 20px;
  width: 115px;
  margin-left: auto;
}

.pointer {
  cursor: pointer;
}
