<div class="header-wrapper">
    <label class="header-title pointer" (click)="toDashboard()">Cinta Coding</label>
    <div [ngClass]="isLogged ? 'visible' : 'invisible'">
        <p class="post-title">Post</p>
        <hr style="width: 60px; border-top: 2px solid dodgerblue;">
    </div>
    <label *ngIf="isLogged" class="header-title" style="text-align: right;">
        Welcome, 
        <span 
            style="color: dodgerblue; cursor: pointer;" 
            mat-button 
            [matMenuTriggerFor]="menu">
            {{ name }}
        </span>
        <mat-menu #menu="matMenu" style="padding: 0;">
            <button mat-menu-item (click)="toProfile()">Detail Profile</button>
        </mat-menu>
    </label>
    <button 
        *ngIf="!isLogged" 
        class="btn-primary" 
        mat-flat-button
        (click)="toLogin()">
        Login
    </button>
</div>