.profile-wrapper {
  padding: 45px 120px;
}

.profile-body {
  width: 615px;
}

table tr {
  margin-bottom: 20px;
}

.detail {
  margin-top: 50px;

  .divider {
    padding: 0 20px;
  }

  .value {
    font-weight: bold;
  }

  .label {
    color: rgb(78, 78, 78);
  }
}

.pointer {
  cursor: pointer;
}

.title {
  color: rgb(75, 75, 75);
  font-size: 18px;
  text-align: justify;
}

.fs-18 {
  font-size: 18px;
}
