<div class="profile-wrapper">
    <app-header></app-header>
    <div class="d-flex justify-content-center align-items-center">
        <div class="profile-body" *ngIf="!isLoading; else loading">
            <span class="material-icons pointer" style="font-size: 33px;" (click)="toPrevPage()">arrow_back</span>
            <div class="d-flex justify-content-center align-items-center">
                <table class="detail">
                    <tr style="height: 50px;">
                        <td><label class="label fs-18">Username</label></td>
                        <td><label class="divider fs-18">:</label></td>
                        <td><label class="value fs-18">{{ user?.name }}</label></td>
                    </tr>
                    <tr style="height: 50px;">
                        <td><label class="label fs-18">Email</label></td>
                        <td><label class="divider fs-18">:</label></td>
                        <td><label class="value fs-18">{{ user?.email }}</label></td>
                    </tr>
                    <tr style="height: 50px;">
                        <td><label class="label fs-18">Address</label></td>
                        <td><label class="divider fs-18">:</label></td>
                        <td><label class="value fs-18">{{ user?.address?.city }}</label></td>
                    </tr>
                    <tr style="height: 50px;">
                        <td><label class="label fs-18">Phone</label></td>
                        <td><label class="divider fs-18">:</label></td>
                        <td><label class="value fs-18">{{ user?.phone}}</label></td>
                    </tr>
                </table>
            </div>
            <!-- <div class="profile-body">
                <div class="detail">
                    <label>Username</label>
                    <label>:</label>
                    <label>{{ user?.name }}</label>
                </div>
                <div class="detail">
                    <label>Email</label>
                    <label>:</label>
                    <label>{{ user?.email }}</label>
                </div>
                <div class="detail">
                    <label>Address</label>
                    <label>:</label>
                    <label>{{ user?.address?.city }}</label>
                </div>
                <div class="detail">
                    <label>Phone</label>
                    <label>:</label>
                    <label>{{ user?.phone }}</label>
                </div>
            </div> -->
        </div>
    </div>
</div>

<ng-template #loading>
    <mat-spinner [diameter]="30" style="margin-top: 250px;"></mat-spinner>
</ng-template>