<div class="post-detail-wrapper">
    <app-header></app-header>
    <div class="d-flex justify-content-center align-items-center">
        <div class="post-body" *ngIf="isLoading.length === 0; else loading">
            <span class="material-icons pointer" style="font-size: 33px;" (click)="toList()">arrow_back</span>
            <div class="post-body">
                <div class="post-body-title">
                    <p></p>
                    <p class="title">{{ post.title }}</p>
                </div>
                <app-post-card 
                    [post]="post" 
                    [isDetail]="true" 
                    [comments]="comments">
                </app-post-card>
            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    <mat-spinner [diameter]="30" style="margin-top: 250px;"></mat-spinner>
</ng-template>