.post-detail-wrapper {
  padding: 45px 120px;
}

.post-body {
  width: 615px;
}

.post-body-title {
  display: grid;
  grid-template-columns: 1fr 7fr;
  margin-bottom: 18px;
  margin-top: 25px;
  column-gap: 15px;
}

.pointer {
  cursor: pointer;
}

.title {
  color: rgb(75, 75, 75);
  font-size: 18px;
  text-align: justify;
}
